*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html{
    font-family:"Roboto", sans-serif;
}

/*Media queris*/

@media(min-device-width: 320px) and (max-device-width:480px){
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 130px 750px;
    }
    .encabezado{
        background-image: url("../imagenes/Zorromodificado.png"); 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
        display: grid;
        height: max-content;
        padding-bottom: inherit;
    }
   
}


@media(min-device-width: 481px) and (max-device-width:720px){
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 130px 750px;
    }

    .tamañoMedia{
        display: grid;
        font-size: 19px;
        margin-right: 150px; 
    }
    .tamañoMediaq{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 150px;
        width: 80%;
    }
    .centrarTexto{
        margin-left:0rem;
    }
}

/*css para titulos en general*/
.titulo{
    border:3px solid darkblue;
    padding: 5px;
}

/*index*/

 /*etiqueta haeder*/
.encabezado{
    background-image: url("../imagenes/Zorromodificado.png"); 
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: contain;
    height: 348px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.encabezado__logo{
    width: 100px;
    height: 100px;
}

.margenes{
    margin-top: 10px;
}
body{
    background-color: teal;
    width: 100%;
}

/* introduccion*/
.imgprincipal{
    width:40%;
    height:450px ;   
   }
   
.principio{
    height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.principio__deco{
    background-color: rgb(175, 208, 238);
    text-decoration: underline;
}

.principio__flex{
    background-color: rgb(156, 200, 241);
    flex-basis: 10%;
    width: 50%;
    padding: 20px;
    line-height: 150%;
    word-spacing: 2px;
    text-align:justify;
    border-radius: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
.negrita{
    font-family: "Lora",serif;
    font-style:italic;
    font-weight:bold;
    letter-spacing: 1px;
    text-align: center;
}
.centrarTexto{
    margin-left:37rem;
}

.negrita--des{
    padding: 0 0 0 5%;
    font-size: 150%;
    text-shadow: 2px 2px 4px ;
    color:darkred;
}

/*etiqueta main*/
.imgSecundario{
    width: 250px;
    height: 200px;
}

.grido{
    display: grid;
    grid-column-gap:10px;
    grid-row-gap:10px;
    padding: 10px;
}
.a{
    border:1px solid black;
    background-color: rgb(99, 88, 88);
    grid-area: gris;
}

.b{
    border:1px solid black;
    background-color: rgb(99, 88, 88);
    grid-area: zorrohumano;
}

.c{
    border:1px solid black;
    background-color: rgb(99, 88, 88);
    grid-area: canidae;
    height: 500px;
}


/*aplicando grid al contenido zorro gris*/

.gris{
    background-color:rgb(99, 88, 88);
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "titulozg imgris" "textozg textozg";
    grid-column-gap: 5px;
    grid-row-gap:20px;
    justify-items:center;
    align-items: center;
}


.gris__titulo{
grid-area: titulozg;
}

.gris__img{
    width: 500px;
    height: 350px;
    grid-area: imgris;
    padding: 20px 20px 0 0px;
}
.gris__texto{
    grid-area:textozg;
    background-color: rgb(212, 220, 228);
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 0 20px 0;
    width: 75%;
}

.azul{
    color:blue;
    text-decoration:underline;
}

/*aplicando flex al contenido lazos zorros-humanos*/
.zorroHum{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding:  25px 0 0 0 ;

}

/*aplicando flex al contenido de la familia canidae*/
.flexcan{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items:center;
    align-items:center;
    grid-template-areas: "tituloc imagenc" "textoc textoc ";
    grid-column-gap:10px;
    grid-row-gap:10px;
    
}
.canidaeUno{
    grid-area: tituloc;
}
.canidaeDos{
    grid-area:imagenc;
    width:200px;
    height:200px;
    margin:30px 20px 0 0 ;
}
.canidaeTres{
    grid-area:textoc;
}

.tituloHdos{
    background-color: rgb(221, 221, 231);
    border: 1px solid black;
    text-decoration: underline;
    padding: 30px;
}

/*etiqueta footer*/
.footerSolo{
    background-image: url("../imagenes/Zorromodificado.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color:white;
    padding: 20px;
    line-height: 150%;
}

.footersolo__redes{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding:0px 10px 0px 0px;
    align-items: flex-end;
    margin:10px 20px 0 0;
}

.footersolo__redes--space{
    margin: 10px;
}

fieldset{
padding: 10px;
line-height: 150%;
}

legend{
    padding: 10px;
}


/* Especie de Zorro*/
.tituloFond{
    border-style:groove;
    padding: 20px; 
    font-style: italic;
    text-align: center;
    margin-left: 36vw;
}

.principio__img{
    width: 800px;
    height:500px;
}

.principio__txt{
    background-color: papayawhip;
    padding: 15px;
    letter-spacing: 1px;
    line-height: 150%;
    word-spacing: 2px;
    text-align:justify;
    border-radius: 10px;

}
.radio{
     border-radius: 30px;
}

.imagenEz{
    width: 400px;
    height: 250px;
    border-radius: 100px;
    margin: 10px;
}
.tituloFondo{
    background-color:skyblue;
    border-radius: 10px;
    padding: 10px;

}

/* Contenido de los 6 zorros*/
.seisZorro
{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
}
.seis{
    border: 2px solid lightblue;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5%;
}

/*paguina caracteristicas*/

.textoCarac{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(128, 221, 143);
    padding: 15px;
    letter-spacing: 1px;
    line-height: 150%;
    word-spacing: 2px;
    text-align:justify;
    height: 50%;
}

.tituloCarac{
   /* grid-area:tituloc;*/
    background-color:rgb(216, 245, 179);
    border: 5px rgb(123, 25, 161);
    border-style:groove;
    padding: 20px;
    margin-left: 35vw; 
    font-style: italic;
    height: 50%;
    text-align: center;
}

/*Caracteristicas*/
.fondoCaracteristicas{
    background-color: #5dcceefa;
}

.bordecc{
    border:2px solid black;
}

.moverTitulo{
    background-color: rgb(128, 230, 196);
    text-align:center;
    margin: 2%;
    font-size: 150%;
}


.caracter__square{
    list-style-type: square;
    padding: 10px;
}

.caracter__htres{
    text-align: center;
    font-family: "Lora",serif;
    padding: 5px;
}


/*Ubicación Geografica*/
.tituloGf{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.tituloGeo{
    text-align:center;
    margin:2%;
    padding: 1%;
    
}

.habitat{

    padding: 20px;
}
.habitat__h{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    padding: 10px;
    margin-left: 27vw;
}

.habitat__img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 24vw;
}
.habitat__txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(126, 228, 126);
    padding: 2%;
    text-align:center;
    font-size: 110%;
    margin-left: 16vw;
}

/*Paguina curiosidades*/
.flexCur{
    margin-top: 1%;
    margin-left:10% ;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    height: 550px;
    width: 80%;
   
}

.flexCur__txt{
    background-color:cyan;
    padding: 1%;
    border: 5px dashed rgba(72, 9, 131, 0.527);
    border-radius: 10px;
}

.tituloFlexx{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2%;
    background-color: rgb(160, 176, 201);
    border-radius: 25px;
}

.tituloFlexx__deco{
    font-family: "Lore",serif;
    font-size: 200%;
}
/*aplicando grid a lazos zorros-humanos*/
.blackColor:hover{
    background-color: #bdd4e7;
background-image: linear-gradient(315deg, #8693ab  0%, #bdd4e7 74%);

}

.colorFondo{
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    
}
.text_curi{
    text-align: center;
    background-color: rgb(112, 139, 214);
    line-height: 30px;
    word-spacing: 2px;
    color: rgb(48, 44, 12);
}
 /* ccs con bootstrap*/

 .ancho{
     width: 50rem ;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }
 
.success{
    color:black;
    text-shadow:  2px 2px 6px;
}

.ilumin:hover{
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    
}
.centrarCarrusel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 70px;

}
.tamañoCarrucel{

    width: 600px;
    height: 450px ;
}

.imagenCarrusel{
    height: 500px;
}
.successWhite{
    color: white;
}
.successBlue{
    text-shadow: 2px 2px 6px rgb(78, 78, 122);
    color:rgb(27, 19, 9); 
}
.fondoBootstrap{
    background-color:#7cffcb;
    background-image:linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
}

.separacion{
    margin-top: 20px;

}
